window {
  margin: 0px;
  border: 1px solid #0db9d7;
  background-color: #1e202e;
}
#input {
  margin: 5px;
  border: none;
  color: #c0cafc;
  background-color: #313353;
}
#inner-box {
  margin: 5px;
  border: none;
  background-color: #1e202e;
}
#outer-box {
  margin: 5px;
  border: none;
  background-color: #1e202e;
}
#scroll {
  margin: 0px;
  border: none;
}
#text {
  margin: 5px;
  border: none;
  color: #c0cafc;
}
#entry.activatable #text {
  color: #1e202e;
}
#entry > * {
  color: #c0cafc;
}
#entry:selected {
  background-color: #313353;
}
#entry:selected #text {
  font-weight: bold;
}
#expander-box {
  background-color: #444a69;
  padding: 5px;
}
#expander-box #entry #text {
  color: #c0cafc;
  font-weight: lighter;
}
#expander-box #entry:selected {
  background-color: #313353;
}
#expander-box #entry:selected #text {
  font-weight: bold;
}
